@use "./utilities/index" as *;

:root {
	--white: hsl(0, 0%, 100%);
	--red: hsl(0, 100%, 66%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
	--linear-gradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	font-family: "Zen Maru Gothic", serif;
}


// - Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
// - Weights: 500
